<form id="edit_profile" method="POST" action="/edit-profile">
   <label for="[profile]fname">First Name</label>
   <input class="form_input" type="text" name="[profile]fname" value="<%= @profile.fname %>" placeholder="First name"><br>
   <label for="[profile]lname">Last Name</label>
   <input class="form_input" type="text" name="[profile]lname" value="<%= @profile.lname %>" placeholder="Last name"><br>
   <label for="[user]email">Email</label>
   <input class="form_input" type="text" name="[user]email" value="<%= @user.email %>" placeholder="Email"><br>
   <label for="[profile]city">City</label>
   <input class="form_input" type="text" name="[profile]city" value="<%= @profile.city %>" placeholder="City"><br>
   <label for="[profile]dob">Date of Birth</label>
   <input class="form_input" type="text" name="[profile]dob" value="<%= @profile.dob %>" placeholder="Date of Birth"><br>
   <input class="user_button" type="submit" value="Edit Profile"><br>
</form>
